In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("House_price_2 (1).csv")

In [3]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [4]:
df.drop('Id',axis=1,inplace=True)

In [5]:
df['TotalSF'] = df['TotalBsmtSF'] + df['1stFlrSF'] + df['2ndFlrSF']

In [6]:
df.shape

(1460, 81)

In [7]:
df.drop('TotalBsmtSF',axis=1,inplace=True)
df.drop('1stFlrSF',axis=1,inplace=True)
df.drop('2ndFlrSF',axis=1,inplace=True)

In [8]:
df.shape

(1460, 78)

In [9]:
df.isnull().sum()

MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
Street             0
                ...
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
TotalSF            0
Length: 78, dtype: int64

In [10]:
df.isnull().sum()/ df.shape[0] * 100

MSSubClass        0.000000
MSZoning          0.000000
LotFrontage      17.739726
LotArea           0.000000
Street            0.000000
                   ...
YrSold            0.000000
SaleType          0.000000
SaleCondition     0.000000
SalePrice         0.000000
TotalSF           0.000000
Length: 78, dtype: float64

In [11]:
#Is format or binarization of target column compulsory?=>no

In [12]:
selected_col = df.columns[df.isnull().sum()/df.shape[0] < 0.9]#either this

In [13]:
df = df.loc[:,selected_col]

In [14]:
df.shape

(1460, 75)

In [15]:
df.dropna(axis=0, thresh=int(0.1*df.shape[1]))# or this
df = df.loc[df.isnull().sum(axis=1)/df.shape[1] <= 0.1, :]

In [16]:
# Find rows with missing values greater than 50%
#print(df.isnull())
#print(df.isnull().sum(axis=1))

In [17]:
#delete rows with 50% missing values
df = df[df.isnull().sum(axis=1) <=(df.shape[1] * 0.5) ]
df.columns

Index(['MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope',
       'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle',
       'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'RoofStyle',
       'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'MasVnrArea',
       'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'Heating', 'HeatingQC', 'CentralAir',
       'Electrical', 'LowQualFinSF', 'GrLivArea', 'BsmtFullBath',
       'BsmtHalfBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr',
       'KitchenQual', 'TotRmsAbvGrd', 'Functional', 'Fireplaces',
       'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish',
       'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PavedDrive',
       'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch',
       'ScreenPorch', 'PoolArea', 'Fence', 'MiscVal', 'MoSold', 'YrSold',
       'SaleType', 'SaleCondition', 'SalePrice', 'TotalSF'],
      dtype='object')

In [18]:
#as there are object values we will label encode first and then fill missing values
df_num=df.select_dtypes(exclude=['object']).copy()
df_obj=df.select_dtypes(include=['object']).copy()
df_obj.columns

Index(['MSZoning', 'Street', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'Fence', 'SaleType', 'SaleCondition'],
      dtype='object')

In [19]:
#its in object datatype where we have nominal and ordinal so we have to deal with only object data type so now
#till we handle nominal and ordinal we are going to use only df_obj and when it it handle we will concat it

In [20]:
#unique values in each column
uniqueValues = df_obj.nunique()
uniqueValues

MSZoning          5
Street            2
LotShape          4
LandContour       4
Utilities         2
LotConfig         5
LandSlope         3
Neighborhood     25
Condition1        9
Condition2        8
BldgType          5
HouseStyle        8
RoofStyle         6
RoofMatl          8
Exterior1st      14
Exterior2nd      16
MasVnrType        4
ExterQual         4
ExterCond         5
Foundation        6
BsmtQual          4
BsmtCond          4
BsmtExposure      4
BsmtFinType1      6
BsmtFinType2      6
Heating           5
HeatingQC         5
CentralAir        2
Electrical        5
KitchenQual       4
Functional        7
FireplaceQu       5
GarageType        6
GarageFinish      3
GarageQual        5
GarageCond        5
PavedDrive        3
Fence             4
SaleType          9
SaleCondition     6
dtype: int64

In [21]:
#Lets handle ordinal first by reading data description Utilities ,LandSlope ,ExterQual ,ExterCond ,BsmtQual ,BsmtCond 
#BsmtExposure ,BsmtFinType1 ,BsmtFinType2 ,HeatingQC ,KitchenQual ,FireplaceQu ,GarageQual ,GarageCond
df_obj['GarageCond'].unique()

array(['TA', 'Fa', 'Gd', nan, 'Po', 'Ex'], dtype=object)

In [22]:
label_map={'Utilities':{'AllPub':1,'NoSewr':2,'NoSeWa':3,'ELO':4}}
df_obj.replace(label_map,inplace=True)

In [23]:
label_map={'ExterQual':{'Gtl':1,'Mod':2,'Sev':3}}
df_obj.replace(label_map,inplace=True)

In [24]:
label_map={'ExterCond':{'Ex':1,'Gd':2,'TA':3,'Fa':4,'Po':5}}
df_obj.replace(label_map,inplace=True)

In [25]:
label_map={'BsmtQual':{'Ex':1,'Gd':2,'TA':3,'Fa':4,'Po':5,'nan':'nan'}}
df_obj.replace(label_map,inplace=True)

In [26]:
label_map={'BsmtCond':{'Ex':1,'Gd':2,'TA':3,'Fa':4,'Po':5,'nan':'nan'}}
df_obj.replace(label_map,inplace=True)

In [27]:
label_map={'BsmtExposure':{'Gd':1,'Av':2,'Mn':3,'No':4,'NA':5,'nan':'nan'}}
df_obj.replace(label_map,inplace=True)

In [28]:
label_map={'BsmtFinType1':{'GLQ':1,'ALQ':2,'BLQ':3,'Rec':4,'LwQ':5,'Unf':6,'NA':7,'nan':'nan'}}
df_obj.replace(label_map,inplace=True)

In [29]:
label_map={'BsmtFinType2':{'GLQ':1,'ALQ':2,'BLQ':3,'Rec':4,'LwQ':5,'Unf':6,'NA':7,'nan':'nan'}}
df_obj.replace(label_map,inplace=True)

In [30]:
label_map={'HeatingQC':{'Ex':1,'Gd':2,'TA':3,'Fa':4,'Po':5}}
df_obj.replace(label_map,inplace=True)

In [31]:
label_map={'KitchenQual':{'Ex':1,'Gd':2,'TA':3,'Fa':4,'Po':5}}
df_obj.replace(label_map,inplace=True)

In [32]:
label_map={'FireplaceQu':{'Ex':1,'Gd':2,'TA':3,'Fa':4,'Po':5,'nan':'nan'}}
df_obj.replace(label_map,inplace=True)

In [33]:
label_map={'GarageQual':{'Ex':1,'Gd':2,'TA':3,'Fa':4,'Po':5,'nan':'nan'}}
df_obj.replace(label_map,inplace=True)

In [34]:
label_map={'GarageCond':{'Ex':1,'Gd':2,'TA':3,'Fa':4,'Po':5,'nan':'nan'}}
df_obj.replace(label_map,inplace=True)

In [35]:
df_obj.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1446 entries, 0 to 1459
Data columns (total 40 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSZoning       1446 non-null   object
 1   Street         1446 non-null   object
 2   LotShape       1446 non-null   object
 3   LandContour    1446 non-null   object
 4   Utilities      1446 non-null   int64
 5   LotConfig      1446 non-null   object
 6   LandSlope      1446 non-null   object
 7   Neighborhood   1446 non-null   object
 8   Condition1     1446 non-null   object
 9   Condition2     1446 non-null   object
 10  BldgType       1446 non-null   object
 11  HouseStyle     1446 non-null   object
 12  RoofStyle      1446 non-null   object
 13  RoofMatl       1446 non-null   object
 14  Exterior1st    1446 non-null   object
 15  Exterior2nd    1446 non-null   object
 16  MasVnrType     1438 non-null   object
 17  ExterQual      1446 non-null   object
 18  ExterCond      1446 non-null   int64
 19  Foundation     1446 non-null   object
 20  BsmtQual       1419 non-null   float64
 21  BsmtCond       1419 non-null   float64
 22  BsmtExposure   1418 non-null   float64
 23  BsmtFinType1   1419 non-null   float64
 24  BsmtFinType2   1418 non-null   float64
 25  Heating        1446 non-null   object
 26  HeatingQC      1446 non-null   int64
 27  CentralAir     1446 non-null   object
 28  Electrical     1445 non-null   object
 29  KitchenQual    1446 non-null   int64
 30  Functional     1446 non-null   object
 31  FireplaceQu    769 non-null    float64
 32  GarageType     1376 non-null   object
 33  GarageFinish   1376 non-null   object
 34  GarageQual     1376 non-null   float64
 35  GarageCond     1376 non-null   float64
 36  PavedDrive     1446 non-null   object
 37  Fence          281 non-null    object
 38  SaleType       1446 non-null   object
 39  SaleCondition  1446 non-null   object
dtypes: float64(8), int64(4), object(28)
memory usage: 463.2+ KB

In [36]:
#now that we have handled ordinal data i am going to concat them
df_new=pd.concat([df_num,df_obj],axis=1)

In [37]:
#now again divide object from remaining data and those columns will be nominal and then we can apply label encoding for nominal variable
df_num=df_new.select_dtypes(exclude=['object']).copy()
df_obj=df_new.select_dtypes(include=['object']).copy()

In [38]:
#handle object data type columns
df_obj_new=pd.get_dummies(df_obj,drop_first=True)

In [39]:
#concat obj and num
df_new=pd.concat([df_num,df_obj_new],axis=1)

In [40]:
df_new

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,0,0,1,0,0,0,1,0
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,0,0,1,0,0,0,1,0
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,0,0,1,0,0,0,1,0
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,0,0,1,0,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,0,0,0,0,1,0,0,0,1,0
1456,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,0,0,0,0,1,0,0,0,1,0
1457,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,0,0,0,0,1,0,0,0,1,0
1458,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,0,0,0,0,1,0,0,0,1,0
1459,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,0,0,0,0,1,0,0,0,1,0

In [41]:
#now all object type data is handled we can move to next step

In [42]:
#now that obj is handled we will go for filling missing value 
cat_col = df_new.columns[df_new.nunique() < 10]
con_col = df_new.columns[df_new.nunique() >= 10]

In [43]:
cat_col

Index(['OverallQual', 'OverallCond', 'BsmtFullBath', 'BsmtHalfBath',
       'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'Fireplaces',
       'GarageCars',
       ...
       'SaleType_ConLI', 'SaleType_ConLw', 'SaleType_New', 'SaleType_Oth',
       'SaleType_WD', 'SaleCondition_AdjLand', 'SaleCondition_Alloca',
       'SaleCondition_Family', 'SaleCondition_Normal',
       'SaleCondition_Partial'],
      dtype='object', length=182)

In [44]:
con_col

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'YearBuilt', 'YearRemodAdd',
       'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'LowQualFinSF',
       'GrLivArea', 'TotRmsAbvGrd', 'GarageYrBlt', 'GarageArea', 'WoodDeckSF',
       'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'MiscVal',
       'MoSold', 'SalePrice', 'TotalSF'],
      dtype='object')

In [45]:
df_cat = df_new.loc[:,cat_col]
df_con = df_new.loc[:,con_col]

In [46]:
df_cat.fillna(df_cat.mode().iloc[0],inplace=True)
df_con.fillna(df_con.median(),inplace=True)

In [47]:
df_cat.shape

(1446, 182)

In [48]:
#now concat those two
df_new = pd.concat([df_cat,df_con],axis=1)

In [49]:
#or we can do
#df.columns[df.isna().any()]
#for col in df.columns[df.isnull().any()]:
#   df[col].fillna(df[col].median(),inplace=True)
#df.columns[df.isnull().any()]

In [50]:
df_new.isnull().sum()

OverallQual     0
OverallCond     0
BsmtFullBath    0
BsmtHalfBath    0
FullBath        0
               ..
ScreenPorch     0
MiscVal         0
MoSold          0
SalePrice       0
TotalSF         0
Length: 205, dtype: int64

In [51]:
#Remove columns which have same values in all rows
df_new=df_new.loc[:, (df_new != df_new.iloc[0]).any()]

In [52]:
#split before normalization
import numpy as np

X= df_new.drop('SalePrice',axis=1)
Y= np.log(df_new['SalePrice'])

In [53]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size  = 0.2, random_state =7)

In [54]:
from sklearn import preprocessing
std_scaler = preprocessing.StandardScaler()

std_scaler.fit(X_train)

x_std_train = std_scaler.transform(X_train.values)
x_std_test = std_scaler.transform(X_test.values)

In [55]:
X_train = pd.DataFrame(x_std_train,columns=X_train.columns)
X_test = pd.DataFrame(x_std_test,columns=X_test.columns)

In [56]:
X_train.shape,X_test.shape

((1156, 204), (290, 204))

In [57]:
#DOUBT:-we have to save clean data after normalization or after outliers imputation?
df_new.to_csv("cleaned_assignment1.csv",index=False)

In [58]:
#outliers detection and imputation

In [59]:
def calc_limits_IQR(df, column):
    q1,q3 = df[column].quantile([0.25,0.75])
    iqr = q3 - q1
    min_val = q1 - (1.5 * iqr)
    max_val = q3 + (1.5 * iqr)
    return min_val, max_val

In [60]:
# find only continuous columns / variables
def impute_outliers_IQR(X,Y):
  con_col = X.columns[X.nunique() > 10]

  for col in con_col:
    min_val, max_val = calc_limits_IQR(X, col)
    X.loc[X[col] < min_val,col] = min_val
    X.loc[X[col] > max_val,col] = max_val
  
  return X,Y

In [61]:
X_train_impute,Y_train_impute = impute_outliers_IQR(X_train.copy(),Y_train.copy())

In [62]:
X_train_impute.describe()

,OverallQual,OverallCond,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,Fireplaces,GarageCars,...,GarageYrBlt,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,MiscVal,MoSold,TotalSF
count,1.156000e+03,1.156000e+03,1.156000e+03,1.156000e+03,1.156000e+03,1.156000e+03,1.156000e+03,1.156000e+03,1.156000e+03,1.156000e+03,...,1156.000000,1156.000000,1156.000000,1156.000000,1.156000e+03,1.156000e+03,1.156000e+03,1.156000e+03,1.156000e+03,1156.000000
mean,-2.146735e-16,2.750587e-16,7.116568e-17,2.958034e-17,1.823801e-16,-1.613473e-17,-3.171243e-16,5.436347e-16,-7.481520e-17,-4.341010e-17,...,0.000126,-0.009047,-0.016266,-0.060744,-3.638391e-01,-1.132882e-01,-2.675885e-01,-8.134695e-02,-6.530724e-17,-0.012232
std,1.000433e+00,1.000433e+00,1.000433e+00,1.000433e+00,1.000433e+00,1.000433e+00,1.000433e+00,1.000433e+00,1.000433e+00,1.000433e+00,...,1.000032,0.974910,0.940861,0.791620,1.110704e-15,4.165138e-16,8.885628e-16,1.791009e-15,1.000433e+00,0.954636
min,-3.028082e+00,-3.217908e+00,-8.214972e-01,-2.520537e-01,-2.839248e+00,-7.564191e-01,-3.478902e+00,-2.060443e-01,-9.493566e-01,-2.408646e+00,...,-3.110604,-2.273065,-0.752742,-0.702471,-3.638391e-01,-1.132882e-01,-2.675885e-01,-8.134695e-02,-2.005745e+00,-2.265358
25%,-8.158662e-01,-5.294703e-01,-8.214972e-01,-2.520537e-01,-1.022883e+00,-7.564191e-01,-1.056975e+00,-2.060443e-01,-9.493566e-01,-1.050405e+00,...,-0.682372,-0.664743,-0.752742,-0.702471,-3.638391e-01,-1.132882e-01,-2.675885e-01,-8.134695e-02,-5.071886e-01,-0.720164
50%,-7.846094e-02,-5.294703e-01,-8.214972e-01,-2.520537e-01,7.934810e-01,-7.564191e-01,1.539894e-01,-2.060443e-01,6.073189e-01,3.078367e-01,...,0.064776,0.017358,-0.752742,-0.317076,-3.638391e-01,-1.132882e-01,-2.675885e-01,-8.134695e-02,-1.325496e-01,-0.111962
75%,6.589443e-01,3.666756e-01,1.136546e+00,-2.520537e-01,7.934810e-01,1.239975e+00,1.539894e-01,-2.060443e-01,6.073189e-01,3.078367e-01,...,0.936449,0.484059,0.627919,0.324013,-3.638391e-01,-1.132882e-01,-2.675885e-01,-8.134695e-02,6.167284e-01,0.571614
max,2.871160e+00,3.055113e+00,3.094588e+00,7.955667e+00,2.609845e+00,3.236369e+00,6.208809e+00,9.515882e+00,3.720670e+00,3.024320e+00,...,1.310023,2.207261,2.698909,1.863739,-3.638391e-01,-1.132882e-01,-2.675885e-01,-8.134695e-02,2.115285e+00,2.509281

In [63]:
#linear regression
from sklearn.linear_model import LinearRegression

In [64]:
lr_impute = LinearRegression().fit(X_train_impute,Y_train_impute)

In [65]:
Y_pred_impute = lr_impute.predict(X_test)

In [66]:
from sklearn.metrics import mean_squared_error
mean_squared_error(Y_test, Y_pred_impute)

2.834417788300879e+19

In [67]:
rmse_impute = mean_squared_error(Y_test, Y_pred_impute) ** 0.5

In [68]:
rmse_impute

5323925044.833819