In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("house_price_prediction.csv",parse_dates=['date'])

In [3]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17210 entries, 0 to 17209
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             17210 non-null  int64
 1   date           17210 non-null  datetime64[ns]
 2   price          17210 non-null  int64
 3   bedrooms       17210 non-null  int64
 4   sqft_living    17210 non-null  int64
 5   sqft_lot       17210 non-null  int64
 6   floors         17210 non-null  float64
 7   waterfront     17210 non-null  int64
 8   condition      17210 non-null  int64
 9   grade          17210 non-null  int64
 10  sqft_above     17210 non-null  int64
 11  sqft_basement  17210 non-null  int64
 12  yr_built       17210 non-null  int64
 13  yr_renovated   17210 non-null  int64
 14  zipcode        17210 non-null  int64
 15  lat            17210 non-null  float64
 16  long           17210 non-null  float64
 17  sqft_living15  17210 non-null  int64
 18  sqft_lot15     17210 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(15)
memory usage: 2.5 MB

In [5]:
df['date'] = pd.to_datetime(df['date']).astype('int64')

In [6]:
X=df.drop('price',axis=1)

In [7]:
Y=df['price']

In [8]:
from sklearn.model_selection import train_test_split
# Split Training and Testing Data
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2, random_state=1)

In [9]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((13768, 18), (3442, 18), (13768,), (3442,))

In [10]:
#normalization using standard scaler

In [11]:
from sklearn import preprocessing
std_scaler = preprocessing.StandardScaler()
std_scaler.fit(X_train)

StandardScaler()

In [12]:
X_train_arr = std_scaler.transform(X_train)
X_test_arr = std_scaler.transform(X_test)

In [13]:
X_train = pd.DataFrame(X_train_arr,columns = X_train.columns)
X_test = pd.DataFrame(X_test_arr,columns = X_test.columns)

In [14]:
X_train.shape,X_test.shape,Y_train.shape,Y_test.shape

((13768, 18), (3442, 18), (13768,), (3442,))

In [15]:
df.to_csv("cleaned_house_price_prediction.csv",index=False)

In [16]:
#impute outliers

In [17]:
for col in X_train.columns:
  if X_train[col].nunique() > 2:
    X_train.loc[X_train[col] < -3, col] = -3
    X_train.loc[X_train[col] > 3, col] = 3

In [18]:
X_train.describe()

,id,date,bedrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,1.376800e+04,1.376800e+04,13768.000000,13768.000000,13768.000000,13768.000000,1.376800e+04,13768.000000,13768.000000,13768.000000,13768.000000,1.376800e+04,13768.000000,1.376800e+04,1.376800e+04,13768.000000,13768.000000,13768.000000
mean,9.507212e-18,3.073176e-15,-0.006067,-0.012618,-0.050596,-0.000204,-1.109144e-15,0.000843,-0.003502,-0.010374,-0.008722,-2.123035e-15,-0.073468,-6.903490e-14,1.460990e-15,-0.004940,-0.006882,-0.057303
std,1.000036e+00,1.000036e+00,0.946018,0.944543,0.503326,0.999352,1.000036e+00,0.997195,0.986501,0.957579,0.964872,1.000036e+00,0.655513,1.000036e+00,1.000036e+00,0.980596,0.975121,0.547886
min,-1.597321e+00,-1.584110e+00,-2.546945,-1.858518,-0.343087,-0.922196,-9.137397e-02,-3.000000,-3.000000,-1.717079,-0.662316,-2.419485e+00,-0.213267,-1.439021e+00,-2.911779e+00,-2.166706,-2.234690,-0.442739
25%,-8.590206e-01,-8.733340e-01,-0.407906,-0.710727,-0.238767,-0.922196,-9.137397e-02,-0.632647,-0.569070,-0.713784,-0.662316,-6.534171e-01,-0.213267,-8.399910e-01,-6.581498e-01,-0.814806,-0.731325,-0.284190
50%,-2.409422e-01,-1.181341e-01,-0.407906,-0.180144,-0.178126,0.002754,-9.137397e-02,-0.632647,-0.569070,-0.278619,-0.662316,1.277282e-01,-0.213267,-2.409614e-01,9.209780e-02,-0.117510,-0.220473,-0.190879
75%,9.505275e-01,9.569153e-01,0.661614,0.502033,-0.105056,0.927705,-9.137397e-02,0.913923,0.285621,0.507094,0.613645,8.749106e-01,-0.213267,7.324617e-01,8.463140e-01,0.629592,0.553103,-0.099629
max,1.841848e+00,1.880925e+00,3.000000,3.000000,3.000000,3.000000,1.094404e+01,2.460492,3.000000,3.000000,3.000000,1.486242e+00,3.000000,2.267475e+00,1.574193e+00,3.000000,3.000000,3.000000

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
lr = LinearRegression().fit(X_train,Y_train)

In [21]:
Y_pred = lr.predict(X_test)

In [22]:
from sklearn.metrics import mean_squared_error
mean_squared_error(Y_test, Y_pred)

35248229571.783745

In [23]:
rmse= mean_squared_error(Y_test, Y_pred) ** 0.5

In [24]:
rmse

187745.1186363676